::-webkit-scrollbar {
  width: 12px; }

::-webkit-scrollbar-track {
  border-radius: 10px; }

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 70px rgba(0, 0, 0, 0.6); }

* {
  border: none; }

body {
  font-family: 'Roboto', sans-serif; }

header .container {
  background-color: #fff; }
  header .container .menu-container {
    background-color: #fff;
    margin-top: 70px;
    margin-bottom: 0;
    border: none; }
    header .container .menu-container .navbar-header button {
      margin: 10px;
      border: none;
      color: #999999; }
      header .container .menu-container .navbar-header button:hover, header .container .menu-container .navbar-header button:active {
        background-color: #fff; }
      header .container .menu-container .navbar-header button i {
        font-size: 30px; }
    header .container .menu-container .navbar-header .logo {
      margin-top: 10px;
      width: 150px; }
    header .container .menu-container .navbar-nav > li {
      margin: 0 20px; }
      header .container .menu-container .navbar-nav > li .active {
        color: #0281C9; }
    header .container .menu-container .navbar-nav > li > a {
      color: #999999;
      transition: 0.2s; }
      header .container .menu-container .navbar-nav > li > a:hover {
        color: #0281C9; }
  @media (max-width: 768px) {
    header .container .menu-container {
      margin-top: 15px; } }
  @media (max-width: 480px) {
    header .container .menu-container {
      margin-top: 0; } }
  header .container .search-container {
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center; }
    header .container .search-container .buscar {
      background-color: #fff;
      margin: 10px;
      padding: 15px; }
      header .container .search-container .buscar i {
        font-size: 15px;
        color: #999999; }
        header .container .search-container .buscar i:hover {
          color: #333; }
    header .container .search-container form {
      margin: 0;
      padding: 0; }
      header .container .search-container form .form-cont {
        display: flex;
        flex-direction: row;
        justify-content: center; }
        header .container .search-container form .form-cont .search-btn {
          margin: 0 5px;
          padding: 6px 12px; }

.content-container .content-box {
  padding: 2px;
  overflow: hidden; }
  .content-container .content-box a {
    width: 100%; }
    .content-container .content-box a img {
      width: 100%;
      transition: 0.2s; }
      .content-container .content-box a img:hover {
        transform: scale(1.2); }

/*content-interna*/
.cerrar {
  margin: 0 0 15px 10px; }
  .cerrar a img {
    height: 15px; }
  .cerrar a:hover {
    color: #333; }

.info-cont {
  display: flex;
  flex-direction: row;
  margin: 25px 0; }
  .info-cont .info-item {
    width: 100%;
    color: #999999; }
    .info-cont .info-item .info {
      display: flex;
      align-items: center; }
      .info-cont .info-item .info .titulo h2 {
        margin: 0;
        color: #5b5b5b;
        font-size: 18px; }
      .info-cont .info-item .info .subtitulo h3 {
        margin: 0;
        font-size: 17px; }
    .info-cont .info-item .clientes h4 {
      margin-bottom: 10px; }
  .info-cont .links-cont {
    width: 100%; }
    .info-cont .links-cont .links {
      height: 100%;
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: flex-end; }
      .info-cont .links-cont .links a, .info-cont .links-cont .links i {
        color: #999999;
        font-size: 13px; }

@media (max-width: 768px) {
  .info-cont {
    flex-direction: column; }
    .info-cont .info-item {
      display: flex;
      flex-direction: column;
      align-items: center; }
      .info-cont .info-item .info {
        flex-direction: column; }
    .info-cont .links-cont {
      margin-top: 20px;
      display: flex;
      align-items: center;
      justify-content: center; } }
/*content-nosotros*/
.content-nosotros {
  padding: 0; }
  .content-nosotros .titulos {
    margin-bottom: 70px; }
    .content-nosotros .titulos ul {
      padding: 0; }
      .content-nosotros .titulos ul li {
        list-style: none; }
        .content-nosotros .titulos ul li a {
          text-decoration: none;
          color: lightgray;
          font-size: 40px;
          transition: 0.3s; }
          .content-nosotros .titulos ul li a:hover {
            color: #0281C9; }
        .content-nosotros .titulos ul li .active {
          color: #878787; }
  .content-nosotros .contenido {
    font-size: 30px; }
    .content-nosotros .contenido p {
      color: #878787; }
  @media (max-width: 450px) {
    .content-nosotros .contenido {
      font-size: 15px; } }

/*content-contacto*/
.contacto-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between; }
  .contacto-container .contacto {
    height: auto; }
    .contacto-container .contacto .contacto-header {
      margin-bottom: 100px; }
      .contacto-container .contacto .contacto-header h2 {
        margin: 0;
        font-size: 30px;
        color: #999999; }
    .contacto-container .contacto .icon a {
      text-decoration: none;
      font-size: 25px;
      color: #999999; }
    .contacto-container .contacto .info-contacto a {
      text-decoration: none;
      color: #999999;
      font-size: 15px; }

@media (max-width: 768px) {
  .contacto-container {
    justify-content: center;
    flex-direction: column; }
    .contacto-container .contacto {
      padding: 15px;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: flex-start; }
    .contacto-container .google-maps {
      padding: 0; } }
/*FOOTER*/
footer .container {
  border-top: 2px solid #666; }
  footer .container .foot-container {
    display: flex;
    flex-direction: column-reverse;
    align-items: center; }
    footer .container .foot-container div {
      margin: 5px 0; }
    footer .container .foot-container small {
      color: #999999; }
    footer .container .foot-container .social-icons a {
      margin: 5px; }
      footer .container .foot-container .social-icons a:hover {
        text-decoration: none; }
      footer .container .foot-container .social-icons a i {
        font-size: 20px;
        color: #999999; }
        footer .container .foot-container .social-icons a i:hover {
          border: none;
          color: #333; }

/*FOOTER LG*/
@media (min-width: 768px) {
  footer .container .foot-container {
    background-color: #fff;
    position: fixed !important;
    right: 0;
    left: 0;
    z-index: 1030;
    bottom: 0;
    margin-bottom: 0;
    border-width: 1px 0 0;
    height: 100px;
    flex-direction: row !important;
    align-items: center;
    align-content: center;
    justify-content: space-around !important; }
    footer .container .foot-container div {
      margin-bottom: 20px; } }
@media (min-width: 768px) {
  body {
    padding-bottom: 100px; } }

/*# sourceMappingURL=style.css.map */
