$azul: #0281C9;
$gris: #999999;

::-webkit-scrollbar {
    width: 12px;
}
::-webkit-scrollbar-track {
    border-radius: 10px;
}
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 70px rgba(0,0,0,0.6);
}

*{
    border: none;
}

body{
    font-family: 'Roboto', sans-serif;
}

header{
    .container{
        background-color: #fff;
        .menu-container{
            background-color: #fff;
            margin-top: 70px;
            margin-bottom: 0;
            border: none;
            .navbar-header{
                button{
                    margin: 10px;
                    border: none;
                    &:hover, &:active{
                        background-color: #fff;
                    }
                    color: $gris;
                    i{
                        font-size: 30px;
                    }
                }
                .logo{
                    margin-top: 10px;
                    width:150px;
                }
            }
            .navbar-nav>li{
                margin:0 20px;
                .active{
                    color: $azul;
                }
            }
            .navbar-nav>li>a{
                color: $gris;
                transition: 0.2s;
                &:hover{
                    color:$azul;
                }
            }
        }
        @media(max-width: 768px){
            .menu-container{
                margin-top: 15px;
            }
        }
        @media(max-width: 480px){
            .menu-container{
                margin-top: 0;
            }
        }
        .search-container{
            height: 60px;
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            align-items: center;
            .buscar{
                background-color: #fff;
                margin: 10px;
                padding: 15px;
                i{
                    font-size: 15px;
                    color:$gris;
                    &:hover{
                        color:#333;
                    }
                }
            }
            form{
                margin: 0;
                padding: 0;
                .form-cont{
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    .search-btn{
                        margin: 0 5px;
                        padding: 6px 12px;
                    }
                }
            }
        }
    }
}



//Content
.content-container{
    .content-box{
        padding: 2px;
        overflow: hidden;
        a{
            width: 100%;
            img{
                width: 100%;
                transition: 0.2s;
                &:hover{
                    transform: scale(1.2);
                }
            }
        }
    }
}
/*content-interna*/
.cerrar{
    margin: 0 0 15px 10px;
    a{
        img{
            height: 15px;
        }
        &:hover{
            color:#333;
        }
    }
}
.info-cont{
    display: flex;
    flex-direction: row;
    margin:25px 0;
    .info-item{
        width: 100%;
        color:$gris;
        .info{
            display: flex;
            align-items:center;
            .titulo{
                h2{
                    margin: 0;
                    color: #5b5b5b;
                    font-size: 18px;
                }
            }
            .subtitulo{
                h3{
                    margin: 0;
                    font-size: 17px;
                }
            }
        }
        .clientes {
            h4{
            margin-bottom: 10px;
            }
        }
    }
    .links-cont{
        width: 100%;
        .links{
            height: 100%;
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: flex-end;
            a, i{
                color:$gris;
                font-size: 13px;
            }
        }
    }
}
@media(max-width:768px){
    .info-cont{
        flex-direction: column;
        .info-item{
            display: flex;
            flex-direction: column;
            align-items: center;
            .info{
                flex-direction: column;
            }
        }
        .links-cont{
            margin-top: 20px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}

/*content-nosotros*/
.content-nosotros{
    padding: 0;
    .titulos{
        margin-bottom: 70px;
        ul{
            padding: 0;
            li{
                list-style: none;
                a{
                    text-decoration: none;
                    color:lightgray;
                    font-size: 40px;
                    transition: 0.3s;
                    &:hover{
                        color:$azul;
                    }
                }
                .active{
                    color:#878787;
                }
            }
        }
    }
    .contenido{
        p{
            color: #878787;
        }
        font-size: 30px;
    }
    @media (max-width: 450px){
        .contenido{
            font-size: 15px;
        }
    }

}
/*content-contacto*/
.contacto-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .contacto{
        height: auto;
        .contacto-header{
            margin-bottom: 100px;
            h2{
                margin: 0;
                font-size: 30px;
                color: $gris;
            }
        }
        .icon{
            a{
                text-decoration: none;
                font-size: 25px;
                color:$gris;
            }
        }
        .info-contacto{
            a{
            text-decoration: none;
            color:$gris;
            font-size: 15px;
            }
        }
    }
}
@media(max-width: 768px){
    .contacto-container{
        justify-content: center;
        flex-direction: column;
        .contacto{
            padding: 15px;
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
        }
        .google-maps{
            padding: 0;
        }
    }
}

/*FOOTER*/
footer{
    .container{
        border-top: 2px solid #666;
        .foot-container{
            display: flex;
            flex-direction: column-reverse;
            align-items: center;
            div{
                margin: 5px 0;
            }
            small{
                color:$gris;
            }
            .social-icons{
                a{
                    margin: 5px;
                    &:hover{
                        text-decoration: none;
                    }
                    i{
                        font-size: 20px;
                        color:$gris;
                        &:hover{
                            border: none;
                            color: #333;
                        }
                    }
                }
            }
        }
    }
}
/*FOOTER LG*/
@media  (min-width:768px){
    footer{
        .container{
            .foot-container{

                background-color: #fff;

                position: fixed !important;
                right: 0;
                left: 0;
                z-index: 1030;
                bottom: 0;
                margin-bottom: 0;
                border-width: 1px 0 0;

                height: 100px;

                flex-direction: row !important;
                align-items: center;
                align-content: center;
                justify-content:space-around !important;
                div{
                    margin-bottom: 20px;
                }
            }
        }
    }
}

@media  (min-width:768px){
    body{
        padding-bottom: 100px;
    }
}
